<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhZqFVnS2gF_hdM-cBQ3c47LoC6bDGgLU</string>
	<key>GCM_SENDER_ID</key>
	<string>618058460930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mpit</string>
	<key>PROJECT_ID</key>
	<string>hackhaton-ef4fa</string>
	<key>STORAGE_BUCKET</key>
	<string>hackhaton-ef4fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618058460930:ios:09455234a7654610b51c1b</string>
	<key>DATABASE_URL</key>
	<string>https://hackhaton-ef4fa-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>